:root {
  --tkzt-primary: #ddd6fe;
  --tkzt-primary-dark: #c4b5fd;
}

body {
  --at-apply: font-serif ma-0;
}

.caption {
  --at-apply: dark:c-gray-400 c-gray-500 text-xs;
}

.text-btn {
  --at-apply: cursor-pointer hover:underline decoration-none;
}

html.dark body {
  --at-apply: bg-#272727 c-white;
}

html.dark body {
  color-scheme: dark;
}

html.dark body {
  --tkzt-primary: #a78bfa;
  --tkzt-primary-dark: #c4b5fd;
}